/* vertical */
.vertItem {
    flex-direction: row;
}

.vertItem .imgCol {
    max-width: 75%;
    padding: 0 15px;
}

.textCol {
    max-width: 25%;
    padding: 0 15px;
}

/* horizontal */
.horizontal {
    flex-direction: row;
    overflow-x: scroll;
}

.horiOverview {
    max-width: 50%;
}

.horiItems {
    max-width: 50%;
}