/* vertical */
.vertItem {
    flex-direction: column;
}

.imgCol ,.textCol {
    max-width: 100%;
    padding: 5px 0;
}

/* horizontal */
.horizontal {
    flex-direction: column;
}

.horiOverview {
    max-width: 100%;
}

.horiItems {
    max-width: 100%;
    overflow-x: scroll;
}